<div class="container-fluid p-5 footer">
    <div class="row ">
        <div class="col-md-4 text-center">
            <h3 class="pt-4">LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p class="pb-3">Clark, MO 65243</p>
        </div>
        <div class="col-md-4 text-center">
            <h3 class="pt-4">AROUND THE WEB</h3>
            <div class="footer-icon d-flex text-center justify-content-center">
                <div class="icon mx-1 d-flex justify-content-center align-items-center">
                    <i class="fa-brands fa-facebook "></i>
                </div>
                <div class="icon mx-1 d-flex justify-content-center align-items-center">
                    <i class="fa-brands fa-twitter "></i>
                </div>
                <div class="icon mx-1 d-flex justify-content-center align-items-center">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
                <div class="icon mx-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-globe"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h3 class="pt-4">ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            
        </div>
    </div>

</div>
<div class="container-fluid footer-bg ">
    <div class="row p-4">
        <p class="text-center mb-0">Copyright © Your Website 2021</p>
    </div>
   </div>