<section class="about">
    <div class="container-fluid p-5">
        <div class="row p-5 ">
            <h2 class="text-center pt-5 fs-1">ABOUT COMPONENT</h2>
            <app-star-line></app-star-line>
            <div class="col-md-6 ps-5 pb-5">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6 pe-5">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</section>
