<section>
    <div class="container-fluid p-5 ">
        <div class="row">
            <h2 class="header text-center fs-1">CONATCT SECTION</h2>
            <div class=" d-flex justify-content-center align-items-center my-3">
                <div class="line2"></div>
                <i class="fa-solid fa-star mx-3"></i>
                <div class="line2"></div>
            </div>
            <div class=" w-50 mx-auto">
                <input class="form-control my-5" type="text" placeholder="userName">
                <input class="form-control my-5" type="number" placeholder="userAge">
                <input class="form-control my-5" type="email" placeholder="userEmail">
                <input class="form-control my-5" type="password" placeholder="userPassword">
                <button class="btn text-white btn-color"> send Message </button>  
            </div>
            
        </div>
    </div>
</section>
